@import "style.css";

.content .typed, .content .contentHeader, .content h1, .content h2, .content h3 {
    text-align: center;
}

.content {
    /* border: 2px solid purple; */
    position: absolute !important;
    max-width: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    height: 100%;
    top: 80px;
    /* text-align: justify !important; */
    /* responsive */
    padding: 0 30px;
}

.formatCol + div {
    border: 1px solid yellow;

    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100vw;
}

.stuff {
    /* border: 1px solid green; */
    /* putting "absolute position" allows for the scroll bar to be seen */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 60px !important;
    bottom: 140px !important;
    overflow: hidden !important;
    overflow-y: auto !important;
}

.textstuff {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(5%, rgba(1,1,1,1)), color-stop(95%, rgba(1,1,1,1)), color-stop(100%, rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgb(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
    );
}

.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contentHeader {
    font-size: 2rem;
}

.exec-row {
    padding: 0 20px;
}

hr {
    margin: 0 !important;
    background-color: var(--text);
}

.textstuff {
    margin: 0 !important;
    padding: 0 !important;
}

.con {
    height: 95% !important;
}

.pdf {
    margin-top: 2% !important;
    width: 100% !important;
    height: 100% !important;
    background: white !important;
}

/*
 * On narrow devices we want the column to basically take up the whole
 * screen width. Similarly we don't want 2 columns on narrow screens
 */
.innerStuff {
    padding: 0 !important;
    width: 95% !important;
    margin: 0 auto !important;
}

.left_col {
    margin:0 auto;
    width: 100%;
}

.right_col {
    margin:0 auto;
    width: 100%
}

/*
 * On large devices we can add margins to the content. Also allow side
 * by side content
 */
@media (min-width: 1200px) {

    .innerStuff {
        width: 80% !important;
        margin: 0 auto !important;
    }

    .left_col {
        float: left;
        width: 25%;
    }

    .right_col {
        float: right;
        width: 70%;
    }

}

/* Change scrollbar */
.stuff::-webkit-scrollbar {
    width: 7px;
}

.stuff::-webkit-scrollbar-track {
    background: rgba(180, 180, 180, 0.041);
    border-radius: 15px;
}

.stuff::-webkit-scrollbar-thumb {
    /* background: #7f7f7f; */
    background: #7f7f7f3b;
    border-radius: 15px;
}

/* End change scrollbar */
