time.dtstart {
    text-decoration: underline;
}

#upcoming {
    text-align: center;
}

#previous {
    text-align: center;
}

#event-window {
    margin-top: 2% !important;
}

.event-title {
    font-weight: bold;
    margin-bottom: -1rem;
}

.event-time {
    font-style: italic;
}

.event-loc {
    font-style: italic;
}

.event-desc {
    margin-top: 0.5rem;
}

.dots-button {
    background: none;
    border: none;
    outline: none !important;
    padding: 0;
    margin: 0;
    margin-left: .5em;
    cursor: pointer;
    color: inherit;
    font: inherit;
    text-decoration: underline;
}


/* THE FOLLOWING IS TEMPORARY AND SHOULD BE REMOVED ON 2023-09-29 */
img {
    /*max-width: 100%; /* Make sure the image doesn't exceed the width of its container */
    /*max-height: 75%; /* Limit the image's height to 75% of its container */
    height: 75%; /* Allow the image's height to adjust based on the aspect ratio */
    width: auto; /* Allow the image's width to adjust based on the aspect ratio */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Media query to detect the aspect ratio */
@media (max-aspect-ratio: 4/3) {
    img {
        /*max-width: 100%;
        /*max-height: none; /* Remove the height limit for wider aspect ratios */
        width: 100%;
        height: auto;
    }
}
