time.dtstart {
    text-decoration: underline;
}

.event-heading {
    text-align: left;
    font-weight: bold;
    font-size: 2.0em;
    text-align: center;
}

#events {
    text-align: center;
}

#past-events {
    text-align: center;
}

#event-window {
    margin-top: 2% !important;
}
