/*
    List of About Us profile images
*/

.avatar {
    margin:  10px !important;
    text-align: center;
}

.avatar span {
    display: block;
    font-size: 0.8rem;
}

.avatar strong {
    font-size: 1rem;
}

.av-img {
    /* width: 100%; */
    /* height is defined in javascript file to be same as width */
    border: 2px solid white;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 10%;
}

#president {
    background-image: url("../assets/media/president.jpg");
}

#vp-academic1 {
    background-image: url("../assets/media/vp-academic1.jpg");
}

#vp-academic2 {
    background-image: url("../assets/media/vp-academic2.jpg");
}

#vp-events1 {
    background-image: url("../assets/media/vp-events1.jpg");
}

#vp-events2 {
    background-image: url("../assets/media/vp-events2.jpg");
}

#vp-finance {
    background-image: url("../assets/media/vp-finance.jpg");
}

#vp-internal1 {
    background-image: url("../assets/media/vp-internal1.jpg");
}

#vp-internal2 {
    background-image: url("../assets/media/vp-internal2.jpg");
}

#vp-communications {
    background-image: url("../assets/media/vp-communications.jpg");
}

#rep-first-year {
    background-image: url("../assets/media/rep-first-year.jpg");
}

#rep-second-year {
    background-image: url("../assets/media/rep-second-year.jpg");
}

#webmaster1 {
    background-image: url("../assets/media/webmaster1.jpg");
}

#webmaster2 {
    background-image: url("../assets/media/webmaster2.jpg");
}

#webmaster3 {
    background-image: url("../assets/media/webmaster3.jpg");
}

#rep-phys {
    background-image: url("../assets/media/rep-phys.jpg");
}

#rep-asph {
    background-image: url("../assets/media/rep-asph.jpg");
}